################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UsersProducts/bin/Debug/net8.0
/UsersProducts/obj
